<h1>{{ title }}</h1>
<h2>Ancienne notes</h2>
<ul>
  <li *ngFor="let note of notes">
    CodePermanent: {{note.codepermanent}} -- Note: {{note.note}}
  </li>
</ul>
<button (click)="getNote()">update</button>
<ul>
  <li><a routerLink="/home">home</a></li>
  <li><a routerLink="/admin">admin</a></li>
</ul>
<router-outlet></router-outlet>
