<h2>Admin <span *ngIf="adminDisplay">-- Nouvelles notes</span></h2>
<ul>
  <li *ngFor="let note of notes">
    CodePermanent: {{note.codepermanent}} -- Note: {{note.note}}
  </li>
</ul>
<label for="codepemanent">CodePermanent: </label>
<input id="codepermanent" type="text" [formControl]="codepermanent" pattern="[A-Z]{4}[0-9]{8}">
<label for="note">Note: </label>
<input id="notewtud" type="text" [formControl]="noteetud">
<br>
<ul class="erreur">
  <li *ngIf="errorMessageCodeP">{{errorMessageCodeP}}</li>
  <li *ngIf="errorMessageNote">{{errorMessageNote}}</li>
</ul>
<br>
<br><span>Pour garder les valeurs, ajouter/modifier puis enregistrer après chaque modification</span><br>
<button (click)="addNote()" type="submit">Ajouter/modifier la note</button>
<button (click)="saveNotes()">Enregistrer les notes</button>
